.description {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  width: 280px;
  letter-spacing: 0;

  color: #020303;

  &-container {
    display: flex;
    justify-content: center;

    &__ship {
      @media (max-width:350px) {
        justify-content: left;
        margin-left: 5px;
      }
    }
  }

  &-simple {
    font-weight: normal;
    &-third {
      width: 460px;
      color: #fff;

      @media (max-width: 450px) {
        width: 100vw;
        margin-left: 0;
      }
    }
    &-fourth {
      position: absolute;
      top: 520px;

      @media (min-width: 1100px) {
        width: 556px;
        left: 40px;
        top: 450px;

        margin-top: -20px;
        
      }

      @media (min-width: 992px) and (max-width: 1099.75px) {
        margin-top: -60px;
      }

      &__italic {
        @media (max-width: 1099.75px) {
          font-style: italic;
        }
      }
    }
  }
}
