.footer {
  padding-top: 49px;
  background-color: #fbfbfc;
  &-section {
    width: 300px;

    @media (max-width: 991.75px) {
      margin-left: 32px;
    }
    &-title {
      font-weight: bold;
      color: #a3adba;
    }

    &-item {
      font-weight: normal;
      color: #9eabbb;
    }
  }
}
