.header {
  height: 42px;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  background-color: #fff;
  margin-bottom: 56px;

  @media (min-width: 1400px) {
    margin-bottom: 103px;
  }
}
