.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 4px;
  font-size: 17px;
  line-height: 20px;
  z-index: 1;
  &-toggler {
    border: none;
  }

  &-brand {
    padding-left: 11px;

    @media (min-width: 1400px) {
      padding-left: 9%;
      margin-right: 65px;
    }

    @media (min-width: 1490px) {
      padding-left: 12%;
      margin-right: 135px;
    }
  }

  &-collapse {
    flex-grow: 1;
  }

  &-nav {
    gap: 35px;
  }
}
