.title {
  color: #1652ac;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 10px;

  &--main {
    font-size: 34px;

    @media (min-width: 1160px) {
      width: 500px;
      text-align: left;
      font-size: 48px;
      margin-bottom: 30px;
    }
  }

  &-container {
    text-align: center;
    letter-spacing: 2.42px;
    padding-bottom: 15px;
  }

  &-simple {
    margin: 0;
  }

  &-third {
    font-size: 18px;
    color: #fbfdff;
    @media (min-width:992px) {
      text-align: left;
    }
  }

  &_fourth {
    font-family: "BBC Reith Sans", sans-serif;
    position: absolute;
    top: 270px;
    font-size: 20px;
    line-height: 40px;
    width: 426px;
    text-align: left;
    letter-spacing: 2.42px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    @media (max-width: 992px) {
      height: 550px;
      width: 341px;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
    }

    @media (min-width: 1100px) {
      width: 450px;
    }
  }
}
