@font-face {
  font-family: "BBC Reith Sans";
  src: url("../fonts/BBCReithSans_A_Bd.eot");
  src: local("☺"), url("../fonts/BBCReithSans_A_Bd.woff") format("woff"), url("../fonts/BBCReithSans_A_Bd.ttf") format("truetype"), url("../fonts/BBCReithSans_A_Bd.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@import "./blocks/page.scss";
@import "./blocks/footer.scss";
@import "./blocks/title.scss";
@import "./blocks/container-sm.scss";
@import "./blocks/header.scss";
@import "./blocks/navbar.scss";
@import "./blocks/active.scss";
@import "./blocks/img.scss";
@import "./blocks/description.scss";
@import "./blocks/start.scss";
@import "./blocks/energy.scss";
@import "./blocks/ship.scss";
@import "./blocks/phone.scss";
@import "./blocks/shortlinks.scss";
@import "./blocks/links.scss";
@import "./blocks/shortlink.scss";
@import "./blocks/card.scss";
@import "./blocks/vorteile.scss";
@import "./blocks/hauptmerkmale.scss";
@import "./blocks/bilder.scss";
@import "./blocks/offer.scss";
@import "./blocks/contact.scss";

#navbarDropdownMenuLink:hover,
#nav-link:hover {
  color: #2e75ff;
}

.container-simple {
  &::after {
    content: "";
  }
}

.nav-link {
  color: blue;
}

.email {
  text-decoration: none;
}

.col-xl-4 {
  padding: 0;
  @media (min-width: 1400px) {
    width: 404px;
  }
}

.container {
  @media (min-width: 1400px) {
    margin: 0 auto;
  }
}

.text-container-fourth {
  @media (max-width: 1100px) {
    display: flex;
    justify-content: center;
  }
  @media (min-width: 1100px) {
    position: absolute;
    top: -150px;
    left: 7%;
  }
}

.text-container-third {
  margin: auto 0;
  text-align: left;
}

.carousel-item {
  transition: 0.5s;
}

.mycarousel {
  width: 610px;
  display: flex;
  justify-content: center;
  border: none;
}

#carousel-control-prev {
  @media (max-width: 991.75px) {
    display: none;
  }
  background-color: #fff;
  width: 126px;
  height: 78px;
  margin-top: 840px;
  opacity: 1;
  box-shadow: 0 0 21px rgba(64, 68, 75, 0.14);
  border-radius: 8px;
}

#carousel-control-next {
  @media (max-width: 991.75px) {
    display: none;
  }
  background-color: #fff;
  width: 126px;
  height: 78px;
  margin-top: 840px;
  opacity: 1;
  box-shadow: 0 0 21px rgba(64, 68, 75, 0.14);
  border-radius: 8px;
}

.carousel-control-prev-icon {
  background-image: url(../images/prev.png);
}

.carousel-control-next-icon {
  background-image: url(../images/next.png);
}

.carousel-indicators {
  bottom: -90px;

  @media (max-width: 991.75px) {
    bottom: -40px;
  }
}

#carousel-button {
  @media (max-width: 991.75px) {
    height: 9px;
    width: 9px;
  }
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: linear-gradient(180deg, #005be4 0%, rgba(0, 96, 241, 0) 100%),
    #004fc7;
  border: 1px solid #bed8ff;
}

.section__container {
  background-color: #fbfbfc;
}

.logo__black {
  @media (min-width: 992px) {
    width: 197px;
    height: 76px;
    margin-bottom: 120px;
  }
}
